@page "/outfitgenerator"

<PageTitle>Outfit Generator</PageTitle>

<style>
    .gallery-item {
        cursor: pointer;
        display: inline-block;
        margin: 5px;
    }
</style>

@foreach (var image in memeImages.Take(currentLoadedCount))
{
    <div class="gallery-item" @onclick="() => SelectMemeFromGallery(image)">
        <img src="@($"/images/memes/{image}")" alt="@image" />
    </div>
}

<ul>
    @foreach (var color in colorPalette)
    {
        <li>RGB(@color.R, @color.G, @color.B)</li>
    }
</ul>

@code {
    private List<string> memeImages = new();
    private int currentLoadedCount;
    private List<Color> colorPalette = new();

    private void SelectMemeFromGallery(string image)
    {
        // Implementation for selecting image
    }
}